*{
    margin: 0; 
    padding: 0;
}
body{   
    font-family: arial, helvetica, sans-serif;
    background-color: white;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.header box {
    display: flex;
    justify-content: center;
    height: 120px;
}

.menu{
    display: flex;
    align-items: center;
    list-style:none;
    /* border:1px solid #c0c0c0; */
    float:left;
}
 
.menu li{
    position:relative;
    text-decoration:none; 
    float:left;
    /* border-right:1px solid #c0c0c0; */
}

.menu li a{
    color:#333; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
    
}

/* .menu li a:hover{
background:#333;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
} */

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    text-decoration:none; 
    background-color: white;
    display:none;
}

.menu li:hover ul,
.menu li.over ul{
display:block;}

.menu li ul li{
   
   display:block;
   width:150px;
} 

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
    height: 100px;
    position: relative;
}
.container-marcas {
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
}

.container-destaque {
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
}
.container-destaque div{
    flex: 1;
    background-color: red;
    margin: 10;
    padding: 10;
    font-size: 18px;
}
.logo {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none; /*remove os pontos*/
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(20, 18, 18);
    font-family:  Ariel;
}

 a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(20, 18, 18);
    font-family:  Ariel;
    align-items: center;
}
/* nav .active a,
 nav a:hover{     /*destaque  */
    /* background-color: #ffce00;
}  */

h2 {
    display: block;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(20, 18, 18);
    font-family:  Ariel;
}
/*Carrousel*/
img {
    width: 100%;
 }
 imagem img{
    width: 200px;
    height: 100px;
 }
 .box {
    display: flex;
    justify-content: center;
    height: 120px;    
    align-content: space-between;
    
  }
     
 .prevbtn, .nextbtn {
    position: absolute;
    top: 50%;
    padding: 12px;
    margin-top: -20px;
    color: rgb(20, 18, 18);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in;
    border-radius: 50%;
 }
 .prevbtn:hover, .nextbtn:hover {
    background-color: darkgrey;
    color: rgb(0,0,0);
 }
 .nextbtn {
    right: 0;
 }

 /*footer*/

/* Basic footer styles */
footer {
    width: 100%;
    background: #111;
    margin-top: 1.5rem;
}
ul {
    padding: 1.25rem;
    text-align: center;
}
ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.25rem 0.75rem;
}
ul a {
    color: rgb(20, 18, 18);
    text-decoration: none;
}
ul a:hover {
    text-decoration: underline;
}

/*compras*/

.flex-container {
    display: flex;
    border: none;
    border:1px solid #ddd;
  }
  
  .flex-container > div {  
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
.flex-container-options{
    background-color: red;
    
}

.tiop{
    display:flex;
    justify-content:center;
    color:white;

}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container-flex {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(20, 18, 18);
    border-radius: 6px;
    width: 50vw;
    box-shadow: 0 0 19px;
}
/*Login */
.container-flex-login input {
    padding: 10px 20px;
    width: 80%;
}
.container-flex-login input[type="submit"] {
    width: 120px;
    padding: 10px 20px;
    margin-top: 10px;
    border:none;
    background-color:rgb(20, 18, 18);
    cursor: pointer;
}
.container-flex-login {
     flex:1 0 60%;
    color:rgb(20, 18, 18);
    padding: 20px 15px;
}
.container-flex-login h2 {
    text-align: center;
}
/*cadastro */
.d-flex cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
}
.container-flex-cadastro input {
    padding: 10px 20px;
    width: 80%;
}
.container-flex-cadastro input[type="submit"] {
    width: 120px;
    padding: 10px 20px;
    margin-top: 10px;
    border:none;
    background-color: rgb(20, 18, 18);
    cursor: pointer;
}
.container-flex-cadastro {
     flex:1 0 60%;
    color:rgb(20, 18, 18);
    padding: 20px 15px;
}
.container-flex-cadastro h2 {
    text-align: center;
}
.conteiner-flex-info {
    flex: 0 1 40%;
    background-color: rgb(20, 18, 18);
    padding-top: 20px;
}
.conteiner-flex-info li {
    list-style: none;
    padding: 6px 0;
}
.conteiner-flex-info a {
    text-decoration: none;
    font-size: 18px;
}
@media(max-width: 900px) {
    .container-flex {
        flex-direction: column;
    }
}

div.option.option.js{
    display:flex;
    align-items:center;
    justify-content:center;
}
.HO1{
    display:flex;
    background-color: #f7f7f7;
    margin-right:2px;
}

.k1{
    display:flex;
    background-color: #f7f7f7;
    margin-right:2px;
}

.option{
    display:flex;
    justify-content:center;
}

.S1{
    
    display:flex;
    background-color: #f7f7f7;
    margin-right:2px;
}

.S2{
   display:flex;
    background-color: #f7f7f7;
    margin-right:2px;;
}

.S3{
   display:flex;
    background-color: #f7f7f7;
    margin-right:2px;;
}

.S4{
    
    display:flex;
    background-color: #f7f7f7;
    margin-right:2px;
}

.Y1{
    
    display:flex;
    background-color: #f7f7f7;
    margin-right:2px;
}

.linkk{
    color:red; /*Cor do link do nome/preço da moto*/
    font-weight:bold; 
}
.loghoda{
    display: flex;
    flex-direction: row;  /*Alinhamento das logos em suas respectivas páginas*/
    justify-content: center;
    margin-top:10px;
    margin-bottom:10px;
}

  
.logKAWA{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:10px;
    margin-bottom:10px;
  }

  
.logSUZU{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:10px;
    margin-bottom:10px;
  }

  
.logYAMA{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:10px;
    margin-bottom:10px;
  }

 .flex-container-marcas{
     text-align: center;
 }

 #btninfo{
     background-color:red;
     color:white;
 }